# Ignore everything
*

# Whitelist
!*.gitignore
!*.cpp
!*.h
!*.frag
!*.vert
!*.sln
!*.vcxproj
!*.vcxproj.filters
# Just to be safe
*.vcxproj.user

# Include subdirectory
!*/EngineWithEditor/
!*/EngineWithEditor/EngineWithEditor/
